*{
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
.flex{
    flex-wrap: wrap;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.boxes{
    width: 200px;
    height: 200px;
    outline: 1px solid;
    text-align: center;
    line-height: 200px;
    font-size: 26px;
}